body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

.logo li:nth-child(1) {
  background-color: #719e07;
}

.logo li:nth-child(3) {
  background-color: #719e07;
}

.logo li:nth-child(4) {
  background-color: #719e07;
}

.contents li:nth-child(1) {
  background-color: #719e07;
}

.contents li:nth-child(3) {
  background-color: #2694d8;
}

ol li:first-child {
  color: #2aa198;
}

ol li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3) {
  background-color: #d04b16;
}
